

:root {
    --cor-primaria: #FF1493 ;
    --cor-secundari: #d18681;
    --cor-terceiaria: #acbfb7;
    --cor-quaternaria: #f6ebdd;
    --cor-quintearia: #8e6d86;

    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.lista{
    text-align: center;
    padding: 30px;
    background-color: var(--cor-quaternaria);
    height: 100%;
    width: 50%;
    border: 4px solid var(--cor-primaria);
}

.titulo{
    font-size: 40px;
    color: var(--cor-secundari);
}

.ul{
    border: 4px solid var(--cor-secundari);
    padding: 20px;
    border-radius: 16px;
}

.li{
    list-style: none;
    font-size: 30px;
    border: 2px solid var(--cor-quintearia);
    padding: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    color: var(--cor-quintearia);
}
